{% extends "base_form.html" %}


{% block form %}
{% if saved %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>저장 완료!</strong> 정상적으로 저장되었습니다.
</div>
{% endif %}


<div class="form-signin form-wide">
	<h2 class="form-signin-heading">대원 정보</h2>

	<div class="row">

		<div class="col-md-7">
			<dl class="dl-horizontal">
				<dt>휴대폰</dt>
				<dd>{{agent.cell}}</dd>
				<dt>주민번호</dt>
				<dd>{{agent.regnum_masked}}</dd>
				<dt>마일리지</dt>
				<dd>{{agent.mileage}}</dd>
				<dt>티셔츠 사이즈</dt>
				<dd>{{agent.tsize}}</dd>
				<dt>가능 기술</dt>
				<dd>{{agent.skill_display}}</dd>
				<dt>지역</dt>
				<dd>{{agent.location}}</dd>
			</dl>
		</div>
		<div class="col-md-5">
			<img src="{{ agent.image_url }}" class="img-thumbnail" width=140>
		</div>
	</div>
	<a href="{% url 'agent_edit' %}" class="btn btn-lg btn-warning">
		수정하기
	</a>

</div>
<div class="form-signin form-wide">
	<h2 class="form-signin-heading">포인트 : {{ total_point }}</h2>

	<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>날자</th>
          <th>사유</th>
          <th>포인트</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    	{% for point in points %}
    	<td>{{ forloop.counter }}</td>
    	<td>{{ point.when }}</td>
		<td>{{ point.reason }}</td>
		<td>{{ point.amount }}</td>
		{% endfor %}

        </tr>
      </tbody>
    </table>

	</ul>
</div>

<!-- /container -->

{% endblock %}