{% extends "base_form.html" %}


{% block form %}
{% if saved %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>저장 완료!</strong> 정상적으로 저장되었습니다. 
</div>
{% endif %}


<div class="form-signin form-agent">
	<h2 class="form-signin-heading">대원 정보</h2>

	<div class="row">

		<div class="col-md-7">
			<dl class="dl-horizontal">
				<dt>휴대폰</dt>
				<dd>{{agent.cell}}</dd>
				<dt>주민번호</dt>
				<dd>{{agent.regnum_masked}}</dd>
				<dt>마일리지</dt>
				<dd>{{agent.mileage}}</dd>
				<dt>티셔츠 사이즈</dt>
				<dd>{{agent.tsize}}</dd>
				<dt>가능 기술</dt>
				<dd>{{agent.skill_display}}</dd>
				<dt>지역</dt>
				<dd>{{agent.location}}</dd>
			</dl>
		</div>
		<div class="col-md-5">
			<img src="{{ agent.image_url }}" class="img-thumbnail" width=140>
		</div>
	</div>
	<a href="{% url 'agent_edit' %}" class="btn btn-lg btn-warning">
		수정하기
	</a>

</div>

<!-- /container -->

{% endblock %}