{% extends "base_outside_form.html" %}

{% if form.errors %}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<strong>로그인실패!</strong> 다시 시도해 주세요.
</div>
{% endif %}
{% block form %}

<div class="form-info">

	<h2>비밀번호 변경</h2>
	<HR>
		
	{% if validlink %}

	<form action="" method="post">
		{% csrf_token %}
		
		<div class="form-group {%if form.new_password1.errors %}error{% endif %}">
			<input type="password" class="form-control" placeholder="비밀번호" name="new_password1" value="{{form.new_password1.value|default_if_none:""}}">
			{% for error in form.new_password1.errors %}
			<span class="help-block">{{error}}</span>
			{% endfor %}
		</div>
		<div class="form-group {%if form.new_password2.errors %}error{% endif %}">
			<input type="password" class="form-control" placeholder="비밀번호확인" name="new_password2" value="{{form.new_password2.value|default_if_none:""}}">
			{% for error in form.new_password2.errors %}
			<span class="help-block">{{error}}</span>
			{% endfor %}
		</div>
		<button class="btn btn-large btn-primary" type="submit">
			바꾸기
		</button>

	</form>

	{% else %}

	이 링크는 다메요!!

	{% endif %}
</div>

{% endblock %}