{% extends 'base.html' %}


{% block content %}
<div class="container">
	<div class="page-header">
		<h3>행사 정보 <small>{{ event.title }}</small>
{% if user.is_staff %}
  <a href="{% url 'admin:core_event_change' event.pk %}" class="btn btn-sm btn-default pull-right">
    <span class="glyphicon glyphicon-pencil"></span> 수정하기
  </a> 
  <a href="{% url 'admin:core_entry_changelist' %}?event__id__exact={{ event.pk}}" class="btn btn-sm btn-default pull-right" style="margin-right:5px">
    <span class="glyphicon glyphicon-list"></span> 참가자 세부보기
  </a>  
  <a href="{% url 'send_sms_by_event' event.pk %}" class="btn btn-sm btn-default pull-right" style="margin-right:5px">
    <i class="fa fa-comment"></i> 문자 발송
  </a>

  &nbsp;
  <a href="{% url 'export_agent' event.pk %}" class="btn btn-sm btn-info pull-right" style="margin-right:5px">
    <i class="fa fa-save"></i> xls로 목록 받기
  </a>
  
  {% endif %}
		</h3>
	</div>
	<div id="description" class="well">
		{% if featured %}
		<div style="padding-bottom:15px">
			<img src="{{ featured.image.url }}" class="img-responsive" >
		</div>
  		{% endif %}

		<p class="lead">{{ event.year_title|safe }}</p>
		<blockquote>{{ event.title }}</blockquote>

		<div class="row">
			<div class="col-sm-6">
				<dl class="dl-horizontal">
					<dt>참가자수</dt> <dd>{{event.participants}}</dd>
					<dt>요청인원</dt> <dd>{{event.requested}} 명(신청 {{event.entry_count}} 명)</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>장소</dt> <dd>{{event.location_tag|safe}}</dd>
					
				</dl>
				<dl class="dl-horizontal">
					<dt>대회일자</dt> <dd class="text-success"><strong>{{event.event_day_display}}</strong></dd>
					<dt>집합시간</dt> <dd class="text-success"><strong>{{event.assemble_time}}</strong></dd>
					<dt>출발시간</dt> <dd>{{event.race_time}}</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>모집 시작</dt> <dd>{{event.recruit_open}}</dd>
					<dt>모집 마감</dt> <dd>{{event.recruit_deadline}}</dd>
					<dt></dt> <dd class="{{status_class}}"><small>{{status_text}}</small></dd>
				</dl>
			</div>
			<div class="col-sm-6">			
				{% for image in images %}
				
				<div class="image-frame img-thumbnail" href="{{ image.image.url }}" style="background-image: url({{ image.image.url }}=s280-c); ">
					<div class="image-name">
						{% if user.is_staff %}
						<a href="{% url 'event_image_del' event.id image.id %}" class="image-close close" style="padding:10px; color:white">&times;</a>
						{% endif %}
						{{image.title}}
					</div>
				</div>
				{% endfor %}
				{% if user.is_staff %}
				<div class="image-frame">
					<a href="{% url 'event_image_add' event.id %}" target="_top"><h2 class="image-text"><i class="fa fa-plus"></i></h2></a>
				</div>
				{% endif %}						

			</div>
		</div>
		<dl class="dl-horizontal">
			<dt>패트롤 참가자</dt>
			<dd>
				{% for entry in entries %}
				<span class="col-sm-4"><a href="{% url 'entry_view' entry.entry %}">{{ entry.display }} <i class="fa fa-comment"></i></a></span>
				{% empty %}
				<code>아직 신청자가 없습니다.</code>
				{% endfor %}
			</dd>
			{% if carpools.servers %}
			<br/>
			<dt>카플 가능</dt>
			<dd>
				{% for carpool in carpools.servers %}
				<span class="col-sm-4"><a href="{% url 'entry_view' carpool.entry %}">{{ carpool.display }} <i class="fa fa-comment"></i></a></span>
				{% endfor %}
			</dd>
			{% endif %}
			{% if carpools.needs %}
			<br/>
			<dt>카풀 신청</dt>
			<dd>
				{% for carpool in carpools.needs %}
				<span class="col-sm-4"><a href="{% url 'entry_view' carpool.entry %}">{{ carpool.display }} <i class="fa fa-comment"></i></a></span>
				{% endfor %}
			</dd>
			{% endif %}
			<BR>
			<pre>
{{ event.desc }}
			</pre>

		</dl>

	</div>
	<div class="row">
		<div class="col-sm-12">
			{% if user.is_authenticated %}
				{% if not entry %}
				<a href="{% url 'agent_entry_add' event.pk %}" class="btn btn-primary btn-lg btn-block{% if not event.is_registable %} disabled{% endif %}">신청하기</a>
				{% else %}
				<div class="row">
					<div class="col-md-10 col-xs-8">
						<a href="{% url 'agent_entry_edit' event.pk %}" class="btn btn-warning btn-lg btn-block{% if not entry or not event.is_registable%} disabled{% endif %}">수정하기</a> 
					</div>
					<div class="col-md-2 col-xs-4">
						<a href="{% url 'agent_entry_del' event.pk %}" class="btn btn-danger btn-lg btn-block{% if not entry or not event.is_registable%} disabled{% endif %}">삭제하기</a> 
					</div>
				</div>
				{% endif %}
			{% else %}
				{% if not entry %}
				<a href="{% url 'entry_add' event.pk %}" class="btn btn-primary btn-lg btn-block{% if not event.is_registable %} disabled{% endif %}">신청하기</a> 
				{% else %}
				<a href="{% url 'entry_edit' entry.pk %}" class="btn btn-warning btn-lg btn-block{% if not entry or not event.is_registable%} disabled{% endif %}">수정하기</a> 
				{% endif %}

			{% endif %}
		</div>			
	</div>
</div>
{% endblock %}

{% block head_extra %}
<style>
	.image-container {
		position:relative;
		left:50%;
		margin:0px;
		margin-left:-350px;
		width:700px;
		padding:5px;		
		cursor:pointer;
	}
	.image-frame {		
		position:relative;
		width:140px;
		height:140px;
		padding:0px;
		margin:0px;
		overflow:hidden;
		float:left;	

		background-color: #D0D0D0;
		background-repeat: no-repeat; 
		background-size: cover;
		background-position: center
	}
	.image-name {
		cursor:pointer;
		position: absolute;
		top:0px;
		left:0px;
		width:140px;
		height:140px;
		background-color: black;
		text-align: center;
		line-height: 140px;
		color:white;
		font-weight: bold;
		opacity: 0;
	}
	.image-text {

		position: absolute;
		padding: 0px;
		margin: 0px;
		top:0px;
		left:0px;
		width:140px;
		height:140px;
		background-color: #eeeeee;
		text-align: center;
		line-height: 140px;
		color:black;
		border:solid 1px #d0d0d0;
		font-weight: bold;
	}
</style>
{% endblock %}

{% block script %}
<script>

	$('.image-frame').on('mouseover',function() {
		$(this).find('div').animate({'opacity':'0.7'})
	});

	$('.image-frame').on('mouseout',function() {
		$(this).find('div').animate({'opacity':'0'})
	});

	$('.image-frame').on('click', function() {
		window.open($(this).attr('href'), '_top');
	});

</script>
{% endblock %}
