{% if perms.view_feedback %}

<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{ feedback.name }} ({{ feedback.cell }})</h4>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
        <dt>사용 내역</dt>
        <dd>{{ feedback.where }}</dd>
        <dt>사용 금액</dt>
        <dd>{{ feedback.spend }}</dd>
      </dl>

      <dl>
        <dt>발생 환자</dt>
        <dd class="well">{{ feedback.patient|linebreaks }}</dd>
        <dt>진행 보고</dt>
        <dd class="well">{{ feedback.report|linebreaks }}</dd>
        <dt>제안 사항</dt>
        <dd class="well">{{ feedback.suggest|linebreaks }}</dd>
      </dl>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    </div>
  </div>
</div><!-- /.modal-dialog -->
{% else %}

<div class="modal-dialog">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">권한 없음!</h4>
</div>
<div class="modal-content">
  권한이 없습니다.

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
</div>
</div><!-- /.modal-dialog -->
{% endif %}