{% extends "base.html" %}

{% block head_extra %}
<link href="/static/css/auth.css" rel="stylesheet">
{% block form_head_extra %}
{% endblock %}
{% endblock %}

{% block content %}

{% block error %}
{% if form.errors %}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	{% block error_msg %}
	{% endblock %}

</div>
{% endif %}
{% endblock %}


<div class="container" id="login_body">

	
{% block form %}
{% endblock %}

</div>

{% endblock %}
