<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="ko-kr" />
		<title>KISP-OS</title>
		<meta name="Copyright" content="KISP-OS" />
		<meta name="keywords" content="KISP-OS 온라인 신청 시스템" />
		<meta name="description" content="인라인 패트롤 자원봉사 단체 KISP, 온라인 신청 시스팀입니다." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="KISP">

        <meta name="google-site-verification" content="nnqfKZhpodkkjIde_xyDBFbjHEbqrBr7_MFQo8J6Gxg" />

        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

		<!-- Le styles -->
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap3/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		{% block head_extra %}
		{% endblock %}
	</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navigation">
        <div class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="/">KISP-OS</a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li{% if viewname == "about" %} class="active"{% endif %}><a href="/about/">About KISP</a></li>
                        <li{% if viewname == "aboutoz" %} class="active"{% endif %}><a href="/aboutoz/">About KISP-OS</a></li>
                        <li{% if viewname == "request" %} class="active"{% endif %}><a href="/request/">패트롤 요청</a></li>
                        <li{% if viewname == "event-list" %} class="active"{% endif %}><a href="/event/">패트롤 참가</a></li>
                        <li{% if viewname == "contact" %} class="active"{% endif %}><a href="/contact/">Contact US</a></li>
<!--                        <li{% if viewname == "team_table" %} class="active"{% endif %}><a href="/team/">조편성표</a></li>-->
                        {% block nav %}
                        {% endblock %}
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>환영합니다. {{ user.first_name }}님 </strong><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'agent_view' %}">대원 정보</a></li>
                                    {% if user.is_staff %}
                                    <li class="divider"></li>
                                    <li><a href="/sms/group/">그룹 문자 보내기</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'change_pw' %}">비밀번호 변경</a></li>
                                    <li><a href="{% url 'signout' %}">로그 아웃</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                    <form class="navbar-form navbar-right" role="form" action="{% url 'signin' %}" method="post">
                        <div class="form-group">
                          <input type="text" name="username" placeholder="아이디" class="form-control">
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" placeholder="비밀번호" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-success">로그인</button>
                      <a href="{% url 'signup' %}" class="btn btn-warning">가입신청</a>
                      {% csrf_token %}
                      <input type="hidden" name="this_is_the_login_form" value="1" />
                      <input type="hidden" name="next" value="/" />
                  </form>
                  {% endif %}
                </div><!--/.nav-collapse -->

            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="alert alert-danger" style="position:fixed; top:50px; z-index:999" hidden="True" id="ie-warn">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>브라우저 버전이 너무 낮습니다!</strong> 사이트가 정상동작 되지 않습니다.<a href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie">IE 9</a> 이상이나 <a href="https://www.google.com/intl/ko/chrome/browser/">Chrome</a> 브라우저를 이용해주세요.
    </div>
    {% block content %}
    컨텐츠가 위치하는 장
    {% endblock %}

    <hr>

    <footer>
        <div class="container">
            <p>
                &copy; KISP 2014
            </p>
            {% block tailer %}
            {% endblock %}
        </div>
    </footer>

    <!-- /container -->

    {% block popup %}
    {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.number.min.js"></script>

    <!-- <link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  -->
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    function getInternetExplorerVersion() {
        var rv = -1;
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
            rv = parseFloat(RegExp.$1);
        }
        return rv;
    }
    var ver= getInternetExplorerVersion();
    if ( ver >= 0 && ver <= 8 ) {
        $('#ie-warn').show();
    }

    </script>

    {% block script %}
    {% endblock %}
</body>
</html>
