{% for field in form %}
<div class="form-group {%if field.errors %}has-error{% endif %}">
	{% if field.field.choices %}	
	<label for="{{field.html_name}}">{{field.label}}</label>

	<select class="form-control" name="{{ field.name }}">
		{% for instance in field.field.choices %}
		<option value="{{ instance.0 }}" {% if field.value == instance.0 %}selected{% endif %}>{{ instance.1 }}</option>
		{% endfor %}
	</select>

	{% else %}

	{% if field.name in form.Meta.native_fields %}
	<label for="{{field.html_name}}">{{field.label}}</label>
	<div>{{ field }}</div>
	{% else %}
		<label for="{{field.html_name}}" class="sr-only">{{field.label}}</label>
		<input type="{{ field.field.widget.input_type }}" class="form-control" placeholder="{{field.label}}" id="{{field.html_name}}" name="{{field.html_name}}" value="{{field.value|default_if_none:""}}">
	{% endif %}

	{% for error in field.errors %}
	<span class="help-block">{{error}}</span>
	{% endfor %}

	{% endif %}
</div>
{% endfor %}